@charset "utf-8";

div {width:100%}
table {margin:0px; border-collapse:collapse; width:100%; padding:0px}
th {text-align:center; font-size:12px}
td {font-size:12px}
form {margin:0px; padding:0px}
input[type="text"] {border:1px #cac1b1 solid; background:#ffffff; color:#7b6f5d; font-size:12px; padding:3px}
button {width:100px; cursor:pointer}
button:disabled {cursor:default}
h1 {font-size:16px}
h2 {font-size:14px}
img {border:none}

.contentWrapper {min-width:1460px; width:1460px}

.titleSection {float:left; margin-bottom:10px; margin-left:10px; height:30px; padding:4px 0px 4px 7px; line-height:22px}
.titleSection:after {content:''; clear:both; display:block}

.controlSection {margin-bottom:10px; margin-left:10px}
.controlSection table {border:1px solid #e2aa87}
.controlSection table tbody th {min-height:30px; padding-right:4px; line-height:30px; color:#6a5448; background-color:#ebe6dc}
.controlSection table tbody td {line-height:30px; color:#6a5448; background-color:#f7f5f1}
.controlSection table tbody td.label {padding-right:4px; text-align:right; font-weight:bold}
.controlSection .buttonGroup {float:right; margin-right:5px; width:auto}

.gridSection {margin-bottom:10px; margin-left:10px}

.formSection {margin-left:10px}
.formSection table {border:1px solid #d4cbbb}
.formSection tbody th {min-height:20px; padding-right:4px; text-align:right; line-height:20px; color:#6a5448; background-color:#ebe6dc}
.formSection tbody td {padding:3px; line-height:20px; background-color:#f7f5f1}